XML_Tutorials/Book_Collection/Book.xsd

<?xml version="1.0"?> 

<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema" elementFormDefault = "qualified"> 
	<xs:element name = "books">
		<xs:element name = "book">
			<xs:complexType>
				<xs:sequence>
					<xs:element name = "bookname" type = "xs:string"/>
					<xs:element name = "author" type = "xs:string"/>
					<xs:element name = "ISBN" type = "xs:number"/>
					<xs:element name = "quantity" type = "xs:number"/>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
	</xs:element>
</xs:schema>	