XML_Tutorials/Student_Data/Student.xsd

<?xml version="1.0"?> 
	<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema"
	elementFormDefault = "qualified"> 
	
		<xs:element name = "students">
		<xs:element name = "student">
			<xs:complexType>
				<xs:sequence>
					<xs:element name = "studname" type = "xs:string"/>
					<xs:element name = "enroll" type = "xs:string"/>
					<xs:element name = "dept" type = "xs:string"/>
					<xs:element name = "clgname" type = "xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		</xs:element>
	</xs:schema>	